<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">userName</th>
        <th scope="col">contactNumber</th>
        <th scope="col">componentType</th>
        <th scope="col">componentName</th>
        <th scope="col">quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <th scope="row">{{request.id}}</th>
        <td>{{request.userName}}</td>
        <td>{{request.contactNumber}}</td>
        <td>{{request.componentType}}</td>
        <td>{{request.componentName}}</td>
        <td>{{request.quantity}}</td>
      </tr>
    </tbody>
  </table>